<h2>Places#show</h2>
 <h1><%= @place.name %></h1>
  <p><%= @place.description %></p>
<%= link_to "Editar", edit_place_path(@place) %>
<%= link_to "Deletar",
    place_path(@place),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
